
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

body{
    margin: 0;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-areas:
        "logo"
        "menu";
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "logo-img menu-bars";
    background-color: var(--negro2);
    padding: 1rem;
}

.logo img {
    justify-self: start;
    width: 50%;
    max-width: 180px;
}

.logo i {
    grid-area: menu-bars;
    justify-self: end;
    color: var(--blanco);
    font-size: 2rem;
}

.menu {
    display: none;
    grid-area: menu;
    display: grid;
    background-color: rgba(1, 10, 52, 0.838);
}

.menu-hr {
    display: none;
    width: 90%;
    background-color: var(--blanco);
    justify-self: center; /*para centrar el hr*/
}
 
.item {
    padding: 1rem 0;
}
 
nav a {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}
 
nav a:hover {
    background-color: #0B3860;
    width: 100%;
}
 
.navbar-button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}
 
#banner {
    
    min-height: 400px;
    margin-top: 60px;
}

#descripcion{
    width: 100%;
    height: 100%;  
    display: grid;
    grid-template-rows: auto; 
}

.contenidoInfo{
    padding: 1rem;
    margin-left: 3rem;
    display: grid;
    grid-template-columns: 75% 20%;
    grid-column-gap: 2em;
    align-items: center;
    font-family: 'roboto', sans-serif;
}


#textoInf{
    font-size: 1.1em;
    width: 81%;
    padding-right:-11rem;
}


#imgInf img{
    width: 65%;
    height: 65%;
}

#features{
    background: url(../img/index/bg-features.png);
    color: white;
    padding-top: 1rem;
}



.features-title{
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
}



.features-description {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    margin-left: 3rem;
    grid-column-gap: 4.5em;
}



.feature{
    min-width: 199px;
    max-width: 230px;
    margin: 2rem;
    padding: 1.8rem;
    margin-bottom: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 3px;
}


.feature i{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.feature p{
    text-align: center;
}

.feature-blue{
    background-color: rgba(9, 53, 104, 0.63);
}


.feature-black
{
    background-color: rgba(0, 0, 0, 0.719);
}

.ubicanos h1{
   text-align: center;
    margin-top: 3%;
    font-size: 3em;
}


.mapa{
    display: flex;
    justify-items: center;
    padding: 2rem;
}


.mapa iframe{
    width: 100%;
}

.direccion h3{
    color: var(--negro2);
    font-size: 1.7em;
    display: grid;
    justify-items: center;
    font-weight: 200;
   
    
}

.linea{
    display: grid;
    justify-items: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #2e8cdf;
    width: 50%;
    height: 0.1em;
    margin-bottom: 1rem;
    
}

.titulo{
    display: flex;
    justify-content: center;
    background-color: #1f1e1e;
    align-items: center;
    color: white;
    height: 6.5em;
    font-size: 2em;
    margin-top: 3rem;
}



.titulo h1{
    font-size: 3.6rem;
    font-weight: 300;
}


#opinion{
    height:20em ;
}


.cards{
    display: grid;
    grid-template-rows: 50%;
    grid-auto-flow: column;
   
    grid-column-gap: 3em;
    margin-top: -2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
   
}


.nombreP{
    display: flex;
}


.nombrep img{
    padding: 2%;
}


.nombreP h5{
     
    padding-top: 2.2rem;
    font-size: 1.5rem;
}


.stars{
    position: relative;
    top: -2rem;
    display: flex;
    flex-direction: row;
    padding-left: 7.5rem;
    /* font-size: 1rem; */
    letter-spacing: 0.5rem;
}


i.fas.fa-star.roja{
    color: #9C2759;
}


.cards img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-right: 5%;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}


#op{
    display: grid;
    background-image:  url(../img/fondoazul.jpeg);
    border-radius: 3px;
    color:var(--blanco);
    width: 98%;
    height: 195%;
}

.descripcion{
    position: relative;
    display: grid;
    align-items: center;
    height: 100%;
    padding-left: 1.5rem;
    margin-bottom: 3rem;
    margin:0.4rem;
    font-size: 1.2rem;
}

.footer{
    background-color: #1f1e1e;
    display: grid;
    
    color: white;
    padding: 2%;
    margin-top: 13rem;
}


.footer .text-footer{
    display: grid;
    grid-template-columns: 33% 40% 26%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    align-items: center;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    font-family: 'Marcellus', serif;
}


.texto1-footer{
    width: 67%;
    margin-left: 1rem;
}

.texto3-footer{
    margin-left: 3rem;
}

.texto2-footer{
    width: 80%;
}


.direc{
    display: flex;
    flex-direction: row;
}


.red{
    font-size: 2rem;
    letter-spacing: 4px;
}



#separador{
    margin-top: 21%;
}


.iconos p{
    margin-left: 4%;
   
}

.texto1-footer hr{
            display: none;
      }

      .texto2-footer hr{
            display: none;
      }

      #txt{
        font-family: 'roboto', sans-serif;
        font-size: 3rem;
        background-color: rgba(0,0,0,0.35);
        color: white;
        width:auto;
        text-align: left;
        margin-left: -22%;
      margin-right: -22%;
      margin-bottom: -3%;
       
  }
  
  
  #txt p{
        margin: 2rem;
        padding-bottom: 1rem;
        
  }

  .carousel {
    position: relative;
}
  


#container-grid {
    display: grid;
    grid-template:
        "nav" auto
        "banner" 400px
        "descripcion" auto
        "feature" auto
        "ubicacion" auto
        "opinion" auto
        "footer" auto
}


/*Resolución tabletas*/
@media screen and (min-width:768px) {
   
}

/*Resolución resoluciones medias*/
@media screen and (min-width:1024px){
    
    nav{
        background-color: var(--negro2);
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "logo menu";
}

.logo img{
    width: 100%;
 }
 .logo i{
    display: none;
 }
 
 .menu{
    background-color: var(--negro2);
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-self: end;
}

.menu-hr{
    display: none;
}

.item {
    margin: 0 1rem;
    align-self: center;
}
 
nav a {
    text-align: left;
}
 
nav a:hover {
    background-color: transparent;
    color: var(--azuloscuro);
}
 
.navbar-button {
    background-color: var(--azuloscuro);
    align-self: center;
}






}



