@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root{
      
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}

body{
      font-family: 'roboto', sans-serif;
    font-size: 16px;
}
 
h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--negro);
      font-family: 'Marcellus', serif;
      font-size: 1.3em;
      padding: 1rem;
      
}

.item{
    padding: 1rem;
    
}

.item2
{
      border-radius: 5%;
      background-color: #337AB7;
      padding: 0.5rem;
}

nav a{
      color: var(--blanco);
      text-decoration: none;  
}

nav a:hover{
      background-color: #337AB7;
      width: 100%;
}

.logo img{
      height: 3rem;     
}

#features{
    background: url(../img/index/bg-features.png);
    background-size: cover;
    color: white;
    padding-top: 1rem;
    width:100%;
    height: 23em;
}

.features-title{
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
    padding: 0.5rem;
    font-size: 3rem;
  
}

.features-description{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;

}

.feature{
    width: 100%;
    min-width: 180px;
    max-width: 180px;
    margin: 0.8rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.feature i{
      font-size: 2.2rem;
      margin-bottom: 1.5rem;
}

.feature-blue{
      background-color: rgba(9, 53, 104, 0.562);
}

.feature-black{
      background-color: rgba(0, 0, 0, 0.699);
}

.logo{
      background-color: #333333;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
}

.fondo img{
      width: 100%;
      height: 100%;
}

.slide{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
}

#txt p{
      position: absolute;
      top: 67%;
      font-family: 'roboto', sans-serif;
      font-size: 3rem;
      background-color: rgba(0,0,0,0.35);
      color: white;
      width: 100%;
      height: 180px;
      display: flex;
     justify-content:space-between;
      align-items: center;
      flex-flow: row wrap;

}

.inf{
      width: 100%;
      height: 100%;  
      display: flex;
      justify-content: space-around;  
}

.contenidoInfo{
      margin: 2.5em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: 'roboto', sans-serif;
}

#textoInf{
      font-size: 1.1em;
      width: 45%;
}

#imgInfo img{
      width: 65%;
      height: 65%;
}

#imgHijo{     
      display: flex;
      justify-content: center;
}

.tituloUbi {
      display: flex;
      justify-content: center;
      margin-top: 3%;
      font-size: 3em;
}

.mapa {
      display: flex;
      justify-content: center;
      padding: 1rem;
}

.mapa iframe{
      width: 100%;
}

.direccion h3{

      font-size: 1.5em;
      display: flex;
      justify-content: center;
}

.azul{
      display: flex;
      justify-content: center;
      margin-left: 25%;
      margin-right: 25%;
      background-color: #2e8cdf;
      width: 50%;
      height: 0.1em;
      
}

.direccion{
      padding: 2em;
}
 
.calific{
      height:20em ;
}

.titulo{
      display: flex;
      justify-content: center;
      background-color: var(--negro);
      align-items: center;
      color: white;
      height: 5.9em;
      font-size: 2em;
}

.titulo h1{
      margin-bottom: 2%;
}

.cards{
       display: flex;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      margin-top: -2%;
}

 .nombreP{
       display: flex;
       background-image: url(/img/Group\ 200.svg);
       background-size: cover;
       justify-content: end;
       align-self: center;
       margin-top: 4%;
       font-size: 1.5rem;
}


.cards img{
       border-radius: 50%;
       width: 75px;
       height: 75px;
       overflow: hidden;
       margin-right: 5%;
       margin-left: 0.5%;
       margin-top: 3%;
}
 
#op{
       display: flex;
       flex-direction: column;
       background: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
       color:var(--blanco);
       width: 30%;
}

.descripcion{
      background: transparent;
      padding:1rem;
}

.footer{
      background-color: var(--negro);
      color: white;
      padding: 3%;
}

.footer .text-footer{
      display: flex;
      justify-content: space-around;
      font-size: 1.2em;
      align-items: baseline;
      height: 6rem; 
}

.texto.t{
      width: 25%;  
}

.iconos{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
}

.iconos div{
      display:flex;
      padding: 2%;
}

.texto .t3{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2%;
}

#separador{
      margin-top: 21%;
}

.redes{
      display: flex;
      justify-content: space-between;
      width: 50%;
}

/*resoluciòn tablet
@media screen and (min-width: 768px){
      .feature
}*/

/*Resolución notebooks*/
@media screen and (min-width: 1024px){
      
      nav{
          display: flex;
          flex-direction: row; /*cambiamos la disposición de los elementos*/
          width: 100%;
          justify-content: space-between;
          background-color: var(--negro2);
      }
      .logo{
          padding: 1rem;
      }
      .logo img{
          width: 100%;
          max-width: 180px;       
      }
      .logo i{ /*ocultamos el ícono bars del menú hamburguesa*/
          display: none;
      } 
      .menu{
          background-color: var(--negro2);
          display: flex;
          flex-direction: row;
          align-items: center;
      }
      .menu-hr{ /*ocultamos la barra de división*/
          display: none;
      }
      .navbar-button{
          background-color:var(--azuloscuro);
      }       
  }
   
  